@import url(http://fonts.googleapis.com/css?family=Fauna+One|Pathway+Gothic+One);

body {
	background: #ecf0f1;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 24px;
	height: 100%;
}

.container {
	width: 80%;
	margin: auto;
}

.name {
	font-size: 4em;
	color: #c0392b;
	font-family: 'Fauna One', serif;
	-webkit-transform: rotate(45deg) translate(20%, 200%);
	transform: rotate(45deg) translate(20%, 200%);
}

.intro {
	font-size: 3em;
	-webkit-transform: rotate(45deg) translate(15%, 250%);
	transform: rotate(45deg);
}

.work {
	font-size: 2em;
	-webkit-transform: rotate(-45deg) translate(-12%, -150%);
	transform: rotate(45deg);
}

a {
	color: #95a5a6;
	text-decoration: none;
	transition: background 0.2s ease-out, color 0.2s ease-out;
}

a:hover {
	color: #000;
	border-bottom: 1px solid #95a5a6;
}

p {
	margin-top: -10px;
	color: #95a5a6;
}

.tenampa-link {
	border-bottom: 1px solid #95a5a6;
}

.tenampa-link:hover {
	color: #7f8c8d;
	background: #f39c12;
	transition: background 1s ease-out;
	padding: 5px;
	transition: padding 0.2s ease-out;
	border-radius: 3px;
	border-bottom: none;
}

.tenampa-link:after {
	content: "."
}

.tenampa-link:hover:after {
	content: none;
}

.contact-wrapper {
	font-size: 2em;
	-webkit-transform: rotate(45deg) translate(40%, 40%);
}
