@import url(http://fonts.googleapis.com/css?family=Fauna+One|Pathway+Gothic+One);

body {
	background: #b2edc5;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
}

.container {
	width: 80%;
	margin: auto;
}

.name {
	color: #090909;
	margin-top: 10%;
	font-family: 'Rubik Mono One', sans-serif;
}

.intro {
	margin-left: 20px;
	white-space: nowrap;
}

a {
	color: #4b5043;
	text-decoration: none;
	transition: background 0.2s ease-out, color 0.2s ease-out;
}

p {
	margin-top: -10px;
	color: #4b5043;
}

.tenampa-link:hover {
	color: #38302e;
	background: #f3d766;
	transition: background 1s ease-out;
	padding: 5px;
	transition: padding 0.2s ease-out, color 0.2s ease-out;
	border-radius: 3px;
	border-bottom: none;
}

.tenampa-link:after {
	content: "."
}

.tenampa-link:hover:after {
	content: none;
}

.contact-wrapper {
	position: absolute;
	bottom: 0;
	padding-bottom: 10%;
	right: 20%;
}

.effect a span {
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.effect span a::before {
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.effect a:hover span,
.effect a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
	.name {
		font-size: 4em;
		margin-top: 2em;
	}
	.intro {
		font-size: 2em;
		white-space: pre-wrap;
	}
	.contact-wrapper {
		left: 10%;
	}
	.contact-wrapper p {
		white-space: nowrap;
	}
	.contact {
		font-size: 3em;
	}
}
