@import url(http://fonts.googleapis.com/css?family=Fauna+One|Pathway+Gothic+One);

body {
	background: #ecf0f1;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 24px;
}

.container {
	width: 80%;
	margin: auto;
}

.name {
	color: #c0392b;
	margin-top: 10%;
	font-family: 'Fauna One', serif;
}

.intro {
	margin-left: -15px;
}

a {
	color: #95a5a6;
	text-decoration: none;
	transition: background 0.2s ease-out, color 0.2s ease-out;
}

a:hover {
	color: #000;
	border-bottom: 1px solid #95a5a6;
}

p {
	margin-top: -10px;
	color: #95a5a6;
}

.tenampa-link {
	border-bottom: 1px solid #95a5a6;
}

.tenampa-link:hover {
	color: #c0392b;
	background: #f39c12;
	transition: background 1s ease-out;
	padding: 5px;
	transition: padding 0.2s ease-out, color 0.2s ease-out;
	border-radius: 3px;
	border-bottom: none;
}

.tenampa-link:after {
	content: "."
}

.tenampa-link:hover:after {
	content: none;
}

.contact-wrapper {
	position: absolute;
	bottom: 0;
	padding-bottom: 10%;
	right: 20%;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
